<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.lastname %>
</p>
<p> Libros </p>
<table>
  <% @client.books.each do |book| %>
    <tr>
      <td>
        <%= book.title %>
      </td>
    </tr>
  <% end %>
  
</table>


<%= link_to 'Agregar Libro', add_book_client_path(@client) %> |
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Regresar', clients_path %>
